build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Carthage/Checkouts
Carthage/Build
/.gitattributes
/Cartfile.resolved
/exportOptions.plist
.DS_Store
/install
/build
/AppDB.sketch
/nanopb.xcframework
/GoogleUtilities.xcframework
/GoogleMobileAds.framework
/GoogleAppMeasurement.framework
/PromisesObjC.xcframework
