github "Alamofire/Alamofire"
github "realm/realm-cocoa"
github "robb/Cartography"
github "SwiftyJSON/SwiftyJSON"
github "tid-kijyun/Kanna"
github "Alamofire/AlamofireImage"
github "Alamofire/AlamofireNetworkActivityIndicator"
github "evgenyneu/Cosmos"
github "jflinter/Dwifft"
github "marmelroy/Localize-Swift"
github "Hearst-DD/ObjectMapper"
github "jiecao-fm/SwiftTheme"